package {{packageName}};

public final class {{targetClassName}} {

  public static String toJson({{sourceClassName}} object) {
    StringBuilder builder = new StringBuilder("{");
    {{#fields}}
    builder.append("\"{{fieldName}}\": \"")
        .append(object.{{getterName}}())
        .append("\"{{^last}},{{/last}}");
    {{/fields}}
    return builder.append("}").toString();
  }

}
